
header {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

main {
    display: flex;
}



.current, .cardD {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

span {
    padding-left: .5rem;
}

.cardD > img {
    height: auto;
    max-width: 30%;
}

.resultsB {
    width: 100%;
    margin: 1rem .5rem 0 0;
}

.cardD {
    background-color: rgb(26, 32, 80);
    color: white;
}

.days {
    display: flex;
    justify-content: space-around;
}


#UVI {
    padding-right: .5rem;
    border-radius: 0.25rem;
    color: white;
}

#results-list {
    border-top: 2px solid black;
    margin-top: 2rem;
}



#results {
    list-style: none;
    display: flex;
    flex-direction: column; 
}

@media screen and (max-width: 992px) {
    main {
        flex-direction: column;
    }
    .days {
        flex-direction: column;
    }
  }